body{
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;	
}

.arcadeScreen{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;       background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NkYGCYycgABAADrwCcot0erQAAAABJRU5ErkJggg==) repeat;
}

