@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
#world {
  background: #222626;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
}
#instructions{
  position:absolute;
  width:100%;
  top:50%;
  margin: auto;
  margin-top:100px;
  font-family:'Open Sans', sans-serif;
  color:#ffffff;
  font-size:.9em;
  text-transform: uppercase;
  text-align : center;
}

.lightInstructions {
  color:#6fbf98;
  font-size:.8em;
}

#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#3d565e;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#3d565e;
}
