@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

#world {
	position: absolute;
  width:100%;
	height: 100%;
	overflow: hidden;
  background : -webkit-linear-gradient(#2a3340, #172533);
  background : linear-gradient(#2a3340, #172533);
}

#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#f7e1be;;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
  line-height:1.5;
  letter-spacing: 2px;
}
#credits a {
  color:#5fc4d0;
}

#credits a:hover {
  color:#fb5d24;
}
